# ignore Mac OS X file
.DS_Store

# ignore PhpStorm .idea folder
.idea

# composer vendor
vendor
compose.lock
dist
build
node_modules/
test-results/
playwright-report/
composer.lock
docker-compose.yml
Dockerfile
develop

!src/Blocks/Payment/build/
