language: php

matrix:
  fast_finish: true
  include:
    - php: '7.1'
    - php: '7.2'
      env: PHP_CODE_SNIFF=1
    - php: '7.4'
    - php: '8.0'
    - php: '8.1'

before_install:
  - if [[ "$PHP_CODE_SNIFF" == "1" ]]; then composer self-update; fi
  - if [[ "$PHP_CODE_SNIFF" == "1" ]]; then composer install; fi
  - if [[ "$PHP_CODE_SNIFF" == "1" ]]; then git clone -b master https://github.com/WordPress/WordPress-Coding-Standards.git /tmp/WordPress-Coding-Standards; fi
  - if [[ "$PHP_CODE_SNIFF" == "1" ]]; then ./vendor/bin/phpcs --config-set installed_paths /tmp/WordPress-Coding-Standards; fi

script:
  - find -L . -path ./vendor -prune -o -name '*.php' -print0 | xargs -0 -n 1 -P 4 php -l
  - if [[ "$PHP_CODE_SNIFF" == "1" ]]; then composer cs; fi

before_deploy:
  - bash ./scripts/build.sh

deploy:
  provider: releases
  api_key:
    secure: j9fCkylP/xtSCuCSJY+0QMJSwrgEqSfw7bbgsHFU7U/kyrpgEd9W3gOC1eSBEGDvaAidtGyGGuV+eFL2ce+5/cQmR9PS9EtY/WPSREUzEgnoNemTrMIb3Z9I+Eam7juLbbCicTMQdh69OdkrtwmQ4/dw3i6CNaDqqWpMpoZ+XKehKwg4fsZYpZnd3TG7QqzyCp5Ku0VU4fHFpu9IJGJnpRwBnwt23gEEiXwogr74pGZGTBaKY42w7osnjAHm1kZwFh8N0xmXjlcplwbcoV3KnjpjXmw+Y3/TNMBaitfP/z2Qf0SWwHQVt7rAfW5SONMNVflVob70ZK9inx/iuGlIxffrwcflXNiAXhExFM+v8M94y+Wd765nXEZbd0EG+ZLIvRPCrP6BLERmmejFyk2D2eCJ52IJtLUo1iw6GaqkGvPzqUI6Hfwc9Pjzw2ASXPjIDpXd3/2IA8IDwjEIMTLZ7y8Fs+3d+JdZNsDu6XxDAqDC1XsKi0Zz8vl5NrMzDCYiIYCAc2lF3U7x/ZtKDJiIehHophI/f5ycx1YZ2MSLjsaj/OEdLtQEUcDVKa0GBfpvXkO9ka2+fSlNC6Xp7A8IG+/vIMg55dl2rBU0B7Sx9XYRmXlcXJS2cafyJj8lAlMPfXVE+tfHG0V8hSJ24KPI4HqQ6RYCbswNe5MNZxufgrk=
  file: "./dist/pay-by-paynow-pl.zip"
  skip_cleanup: true
  on:
    repo: pay-now/paynow-woocommerce
    branch: master
    tags: true

after_deploy:
- bash ./scripts/deploy_to_wp_svn.sh

notifications:
  slack:
    rooms:
      - secure: ZfDvqzzL7hGZ5/i+hkwvRs9nsa5dXKB9q0u6hIHSr5DJqoZbcG/DwbL9d2rjS7Zfkco2yUJsBgnwYIAs4UNh4hfunqbSxMhnWEQNq943OxNpRBeJQD5zh1Tt+JhhNMnRwX+J+d6+qrCXTLuQJuMGIm6eVczI0c3wMt9XUl6X0JSSa2FqHlmM/0IkZgTrexQWdCNj7hURY8GyyjQcvM0MIhsBZ8UgVth3dYvBBNxaaoCUOTW8bV3zklAmlUDqHiLlk2mschlf/G2MkrHSEI8vWfPZM4TikhaX+ccEaV0ls1ROB/5twq6vCWWjpD+zQtAk0YBKFNQtVS5Hojwp2INjrfjq8qrb+p45TP7hTdwApyuhupIgy/7xPjc7cp0CQDbUC2+gW/1H+RZl5B4RNtUGhndaBiklKNkMTtzf9Y/zgPrFaTV0on5dEtr53KJZkjgMtR/TmhF2WnxpvTa4eM45DjyjVTPW1WjlbXJnIrTFwUbvAmPhevGS99loJ0TLtPngbe991PFlQokUj3T34Uh8R2eLPrfqMb5+72eS8jQubQtHGie/awIfmXxEqPhjjvIqrTxTLwwhzPZsK+sb+xtAJdIaZu/ZzVUQf3yw78i4ImNZC3yu296nOEGO/l075C1/qJ+v+z0v3VhuumsP/vmLlGLaDkvyNY6IEwSET6AgfJ4=
      template:
        - "Build %{repository_slug} - (%{commit}) : %{message}"
        - "Build number: #%{build_number}"
        - "Build details: %{build_url}"