.paynow-payment-option-pbls {
	flex-wrap: wrap;
	display: flex;
}

.paynow-payment-option-pbl {
	margin: 1%;
	flex-basis: 23%;
	display: flex;
	flex-direction: column;
}

.paynow-payment-option-pbl label {
	padding: 10px;
	border: 1px solid #e6e6e6;
	width: 100%;
	height: 80px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	display: flex !important;
	justify-content: center;
	align-items: center;
	background: #ffffff;
}

.paynow-payment-option-pbl label img {
	max-width: 80px;
	width: 100%;
	max-height: 100% !important;
}

.paynow-payment-option-pbl:not(.disabled) label:hover {
	border: 1px solid #d2d2d2;
	background: #f3f3f3;
}

.paynow-payment-option-pbl input[type=radio] {
	display: none;
}

.paynow-payment-option-pbl.disabled label img {
	opacity: 0.3;
	filter: grayscale(1);
}

.paynow-payment-option-pbl.disabled label {
	cursor: not-allowed;
}

.paynow-payment-option-pbl input[type=radio]:checked + label {
	border: 1px solid #d2d2d2;
	background: #f3f3f3;
}

.payment_method_pay_by_paynow_pl_pbl label > img,
.payment_method_pay_by_paynow_pl_card label > img,
.payment_method_pay_by_paynow_pl_blik label > img,
.payment_method_pay_by_paynow_pl_google_pay label > img {
	max-height: 2rem;
	max-width: 3rem;
	vertical-align: middle;
}

.payment_method_pay_by_paynow_pl_blik input[type=text] {
	letter-spacing: 5px;
	font-weight: bold;
}

.paynow-blik-white-label label {
	margin-top: 5px;
}

.paynow-data-processing-info {
	margin-top: 1rem;
	font-size: .8rem;
}

.paynow-data-processing-info .expand {
	cursor: pointer;
	text-decoration: underline;
}

.paynow-data-processing-info ul {
	margin: 0 0 0 15px;
	list-style-type: lower-alpha !important;
}

#payment .payment_methods .paynow-data-processing-info li {
	list-style: lower-alpha !important;
}

.paynow-data-processing-info li:before {
	display: inline !important;
}

.paynow-data-processing-info .paynow-data-processing-info-more.collapse {
	display: none;
}

.paynow-confirm-blik img {
	margin: 0 auto;
}

@media (max-width: 576px) {
	.payment_method_pay_by_paynow_pl_pbl label > img,
	.payment_method_pay_by_paynow_pl_card label > img,
	.payment_method_pay_by_paynow_pl_blik label > img,
	.payment_method_pay_by_paynow_pl_google_pay label > img {
		max-height: 1rem;
		max-width: 3rem;
	}
}
