.paynow-data-processing-info {
	margin-top: 1em;
	font-size: .8em;
}

.paynow-data-processing-info .expand {
	cursor: pointer;
	text-decoration: underline;
}

.paynow-data-processing-info ul {
	padding: 0 !important;
	margin: 0 0 0 15px !important;
	list-style-type: lower-alpha !important;
}

.paynow-data-processing-info .paynow-data-processing-info-more.collapse {
	display: none;
}

#payment .payment_methods .paynow-data-processing-info li {
	list-style: lower-alpha !important;
	line-height: 1.5em !important;
}

#payment ul.payment_methods .paynow-data-processing-info li::before,
#payment ul.payment_methods .paynow-data-processing-info li::after {
	display: none !important;
}

.payment_method_pay_by_paynow_pl_pbl > label > img,
.payment_method_pay_by_paynow_pl_card > label > img,
.payment_method_pay_by_paynow_pl_blik > label > img,
.payment_method_pay_by_paynow_pl_google_pay > label > img,
.payment_method_pay_by_paynow_pl_apple_pay > label > img,
.payment_method_pay_by_paynow_pl_paywall > label > img,
.payment_method_pay_by_paynow_pl_leaselink > label > img {
	max-height: 2rem;
	max-width: 3rem;
	vertical-align: middle;
}

.payment_method_pay_by_paynow_pl_blik input[type=text] {
	letter-spacing: 5px;
	font-weight: bold;
	max-width: 100%;
	min-width: 110px;
}

.payment_method_pay_by_paynow_pl_blik .paynow-blik-white-label label {
	margin-top: 5px;
}

.paynow-confirm-blik img {
	margin: 0 auto;
}

.paynow-payment-option-pbls {
	flex-wrap: wrap;
	display: flex;
	margin: 0 -1%;
}

.paynow-payment-option-pbl {
	margin: 1%;
	width: 23%;
	display: flex;
	flex-direction: column;
}

.paynow-payment-option-pbl label {
	padding: 5px;
	border: 1px solid #e6e6e6;
	max-width: 100%;
	height: calc(100vh / 20);
	min-height: 3rem;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	display: flex !important;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	transition: all 250ms;
	margin: 0 !important;
}

.paynow-payment-option-pbl label img {
	max-width: 90%;
	max-height: calc(100vh / 30) !important;
	vertical-align: middle;
	margin: 0 !important;
}

.paynow-payment-option-pbl:not(.disabled) label:hover {
	border: 1px solid #d2d2d2;
	background: #f3f3f3;
}

.paynow-payment-option-pbl input[type=radio] {
	display: none !important;
}

.paynow-payment-option-pbl.disabled label img {
	opacity: 0.3;
	filter: grayscale(1);
}

.paynow-payment-option-pbl.disabled label {
	cursor: not-allowed;
}

.paynow-payment-option-pbl input[type=radio]:checked + label {
	border: 1px solid #d2d2d2;
	background: #f3f3f3;
}

.payment_method_pay_by_paynow_pl_pbl > p {
	margin-top: .5rem !important;
}

.payment_method_pay_by_paynow_pl_pbl label > img {
	margin-top: 0.25rem;
}

@media (max-width: 576px) {
	.paynow-payment-option-pbl {
		width: 31%;
	}
}

.paynow-leaselink {
	display: flex;
	margin: 16px 0;
}

.paynow-leaselink .paynow-leaselink__button {
	display: flex;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
}

.paynow-leaselink.paynow-leaselink__color-black .paynow-leaselink__button {
	background-color: black;
}

.paynow-leaselink.paynow-leaselink__color-white .paynow-leaselink__button {
	background-color: white;
}

.paynow-leaselink.paynow-leaselink__color-black-ghost .paynow-leaselink__button {
	border: 1px solid black;
}

.paynow-leaselink.paynow-leaselink__color-white-ghost .paynow-leaselink__button {
	border: 1px solid white;
}

.paynow-leaselink .paynow-leaselink__title {
	margin: 10px 15px;
	font-size: 22px;
	line-height: 33px;
	font-weight: 700;
	text-transform: uppercase;
}

.paynow-leaselink .paynow-leaselink__image {
	width: 15px;
}

.paynow-leaselink .paynow-leaselink__title .woocommerce-Price-amount.amount {
	font-size: 22px;
	line-height: 33px;
}

.paynow-leaselink.paynow-leaselink__color-black .paynow-leaselink__title {
	color: white;
}

.paynow-leaselink.paynow-leaselink__color-white .paynow-leaselink__title {
	color: black;
}

.paynow-leaselink.paynow-leaselink__color-black-ghost .paynow-leaselink__title {
	color: black;
}

.paynow-leaselink.paynow-leaselink__color-white-ghost .paynow-leaselink__title {
	color: white;
}

.paynow-leaselink .paynow-leaselink__image-container {
	width: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.paynow-leaselink.paynow-leaselink__color-black .paynow-leaselink__image-container {
	background-color: #F0F0F0;
}

.paynow-leaselink.paynow-leaselink__color-white .paynow-leaselink__image-container {
	background-color: #F0F0F0;
}

.paynow-leaselink.paynow-leaselink__color-black-ghost .paynow-leaselink__image-container {
	border-left: 1px solid black;
}

.paynow-leaselink.paynow-leaselink__color-white-ghost .paynow-leaselink__image-container {
	border-left: 1px solid white;
}

.paynow-leaselink__calculator__background {
	max-width: unset !important;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 100;
	margin: 0 !important;
}

.paynow-leaselink__calculator__hidden {
	display: none;
}

.paynow-leaselink__calculator::-webkit-scrollbar {
	display: none;
}

.paynow-leaselink__calculator {
	position: fixed;
	z-index: 100;
	bottom: 0;
	max-height: 100vh;
	right: 0;
	width: 100vw;
	background-color: white;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.paynow-leaselink__calculator * {
	font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
	.paynow-leaselink__calculator {
		width: 630px;
		height: 100vh;
		background-color: #f0f0f0;
	}
}

.paynow-leaselink__calculator__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 17px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
	flex-shrink: 0;
}

.paynow-leaselink__calculator__header p {
	margin: 0;
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
}

.paynow-leaselink__calculator__header__exit-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.paynow-leaselink__calculator__header__exit {
	width: 40px;
}

.paynow-leaselink__calculator__header__logo {
	width: 147px;
}

@media (max-width: 767px) {
	.paynow-leaselink__calculator__header__logo {
		display: none;
	}
}

@media (min-width: 768px) {
	.paynow-leaselink__calculator__header {
		padding: 32px 28px;
		background-color: #ffffff;
	}

	.paynow-leaselink__calculator__header p {
		font-size: 26px;
		line-height: 33px;
	}
}

.paynow-leaselink__calculator__content {
	flex-grow: 1;
	overflow: auto;
	min-height: 2em;
}

@media (min-width: 768px) {
	.paynow-leaselink__calculator__content {
		padding-top: 25px;
	}
}

.paynow-leaselink__calculator__products {
	padding: 10px 20px;
}

.paynow-leaselink__calculator__products__title {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin: 0 0 28px 0;
}

.paynow-leaselink__calculator__products__product {
	display: flex;
	justify-content: space-between;
}

.paynow-leaselink__calculator__products__product__qty {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	margin: 0;
}

.paynow-leaselink__calculator__products__product__text {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	margin: 0;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 250px;
}

.paynow-leaselink__calculator .paynow-leaselink__calculator__products__product__text .woocommerce-Price-amount.amount {
	font-size: 14px;
	line-height: 18px;
}

@media (max-width: 767px) {
	.paynow-leaselink__calculator__products-summary-lg {
		display: none;
	}
}

@media (min-width: 768px) {
	.paynow-leaselink__calculator__products {
		background-color: #ffffff;
		margin: 0 10px;
		border-radius: 16px;
		padding: 16px 22px;
	}

	.paynow-leaselink__calculator__products__title {
		font-size: 22px;
		line-height: 28px;
		margin-bottom: 16px;
	}

	.paynow-leaselink__calculator__products__product-wrapper {
		border: 1px solid #b5b5b5;
		border-radius: 16px;
		padding: 20px;
		margin-bottom: 10px;
	}

	.paynow-leaselink__calculator__products__product__qty {
		white-space: nowrap;
		padding-right: 20px;
		font-size: 16px;
		line-height: 20px;
	}

	.paynow-leaselink__calculator__products__product__text {
		display: flex;
		justify-content: space-between;
		width: 100%;
		font-size: 16px;
		line-height: 20px;
		text-overflow: unset;
		white-space: unset;
		overflow: unset;
	}

	.paynow-leaselink__calculator .paynow-leaselink__calculator__products__product__text .woocommerce-Price-amount.amount {
		font-size: 16px;
		line-height: 20px;
	}

	.paynow-leaselink__calculator__products__product__title {
		display: inline-block;
		width: 300px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-align: left;
	}

	.paynow-leaselink__calculator__products__product__title-break {
		display: none;
	}

	.paynow-leaselink__calculator__products-summary-lg {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.paynow-leaselink__calculator__products-summary-lg__label {
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		margin: 0;
	}

	.paynow-leaselink__calculator__products-summary-lg__price {
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		color: #822A85;
		margin: 0 0 0 12px;
	}

	.paynow-leaselink__calculator .paynow-leaselink__calculator__products-summary-lg__price .woocommerce-Price-amount.amount {
		font-size: 24px;
		line-height: 30px;
	}
}

.paynow-leaselink__calculator__products-summary {
	background-color: #f0f0f0;
	padding: 20px 26px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.paynow-leaselink__calculator__products-summary__label {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #222222;
	margin: 0;
}

.paynow-leaselink__calculator__products-summary__price {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #822A85;
	margin: 0;
}

.paynow-leaselink__calculator .paynow-leaselink__calculator__products-summary__price .woocommerce-Price-amount.amount {
	font-size: 24px;
	line-height: 30px;
}

@media (min-width: 768px) {
	.paynow-leaselink__calculator__products-summary {
		display: none;
	}
}

.paynow-leaselink__calculator__copy-lg {
	display: block;
	padding: 15px 0;
}

.paynow-leaselink__calculator__copy-lg p {
	font-size: 14px;
	line-height: 17px;
	color: #888888;
	font-weight: 400;
	text-align: center;
	margin: 0;
}

@media (max-width: 767px) {
	.paynow-leaselink__calculator__copy-lg {
		display: none;
	}
}

.paynow-leaselink__calculator__config {
	padding: 20px 10px;
}

.paynow-leaselink__calculator__config__title {
	font-size: 15px;
	font-weight: 700;
	line-height: 19px;
	margin: 0 0 10px 0;
}

.paynow-leaselink__calculator__config__buttons-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.paynow-leaselink__calculator__config__input {
	display: none;
}

.paynow-leaselink__calculator__config__input:checked+.paynow-leaselink__calculator__config__label {
	background-color: #822A85;
	color: white;
	border-color: #822A85;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

.paynow-leaselink__calculator__config__input:disabled+.paynow-leaselink__calculator__config__label {
	display: none;
}

.paynow-leaselink__calculator__config__label {
	display: inline-block;
	border: 1px solid #888888;
	padding: 8px 0;
	border-radius: 100px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	width: 60px;
	text-align: center;
	cursor: pointer;
}

.paynow-leaselink__calculator__config__buttons-wrapper .paynow-leaselink__calculator__config__label {
	margin: 0 8px 8px 0;
}

.paynow-leaselink__calculator__config__hr {
	margin: 5px 0 15px 0;
}

.paynow-leaselink__calculator__config__summary {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.paynow-leaselink__calculator__config__summary__title {
	margin: 0 0 10px 0;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}

.paynow-leaselink__calculator__config__summary__value {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.paynow-leaselink__calculator__config__summary__value.with-help {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.paynow-leaselink__calculator__config__summary__tooltip {
	width: 20px;
	cursor: pointer;
	margin-left: 10px;
}

.paynow-leaselink__calculator .paynow-leaselink__calculator__config__summary__value .woocommerce-Price-amount.amount {
	font-size: 16px;
	line-height: 20px;
}

@media (min-width: 768px) {
	.paynow-leaselink__calculator__config {
		margin: 0 10px;
		padding: 20px 20px;
		display: flex;
		gap: 45px;
		background-color: #ffffff;
		border-radius: 16px;
	}

	.paynow-leaselink__calculator__config__form {
		width: calc(70% - 45px);
	}

	.paynow-leaselink__calculator__config__title {
		font-size: 16px;
		line-height: 20px;
	}

	.paynow-leaselink__calculator__config__hr {
		display: none;
	}

	.paynow-leaselink__calculator__config__summary {
		width: 30%;
		flex-direction: column;
		justify-content: flex-start;
		gap: 0;
	}

	.paynow-leaselink__calculator__config__summary .--financial-product {
		order: 1;
		margin-bottom: 87px;
	}

	.paynow-leaselink__calculator__config__summary .--entry-payment {
		order: 2;
		margin-bottom: 36px;
	}

	.paynow-leaselink__calculator__config__summary .--closing-payment {
		order: 3;
	}

	.paynow-leaselink__calculator__config__summary__box {
		margin-bottom: 0;
	}

	.paynow-leaselink__calculator__config__summary__title {
		margin: 0 0 15px 0;
		text-align: right;
	}

	.paynow-leaselink__calculator__config__summary__value {
		margin: 0;
		text-align: right;
	}

	.paynow-leaselink__calculator__config__summary__value.with-help {
		justify-content: flex-end;
	}
}

.paynow-leaselink__calculator__copy {
	background-color: #f0f0f0;
	padding: 20px 0;
}

.paynow-leaselink__calculator__copy p {
	font-size: 10px;
	line-height: 12px;
	color: #888888;
	font-weight: 400;
	text-align: center;
	margin: 0;
}

@media (min-width: 768px) {
	.paynow-leaselink__calculator__copy {
		display: none;
	}
}

.paynow-leaselink__calculator__instruction {
	padding: 20px 11px 10px 11px;
}

.paynow-leaselink__calculator__instruction__title {
	font-size: 16px;
	margin: 0 0 15px 0;
	line-height: 20px;
	text-align: center;
	font-weight: 700;
}

.paynow-leaselink__calculator__instruction__list {
	padding-inline-start: 20px;
}

.paynow-leaselink__calculator__instruction__list li::marker {
	color: #822A85;
	font-weight: bold;
}

.paynow-leaselink__calculator__instruction__list__item {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 18px;
}

@media (min-width: 768px) {
	.paynow-leaselink__calculator__instruction {
		padding: 27px 15px 18px 15px;
	}

	.paynow-leaselink__calculator__instruction__title {
		text-align: left;
	}
}

.paynow-leaselink__calculator__rating {
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 767px) {
	.paynow-leaselink__calculator__rating {
		padding: 41px 40px;
	}

	.paynow-leaselink__calculator__rating__image-lg {
		display: none;
	}
}

@media (min-width: 768px) {
	.paynow-leaselink__calculator__rating__image {
		display: none;
	}

	.paynow-leaselink__calculator__rating {
		padding: 20px 0;
	}
}

.paynow-leaselink__calculator__summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 15px 15px 0 0;
	box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.15);
	padding: 9px 10px;
	flex-shrink: 0;
}

.paynow-leaselink__calculator__summary__button-wrapper {
	display: flex;
	border-radius: 3px;
	align-items: stretch;
	overflow: hidden;
}

.paynow-leaselink__calculator__summary__arrow-wrapper {
	min-width: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
}

.paynow-leaselink__calculator__summary__arrow {
	width: 15px;
	transform: rotate(180deg);
}

.paynow-leaselink__calculator__summary__button {
	background-color: black;
	color: white;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}

.paynow-leaselink__calculator__summary__label {
	margin: 0 0 6px 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	text-align: right;
}

.paynow-leaselink__calculator__summary__price {
	margin: 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 23px;
	text-align: right;
	color: #822A85;
}

.paynow-leaselink__calculator .paynow-leaselink__calculator__summary__price .woocommerce-Price-amount.amount {
	font-size: 18px;
	line-height: 23px;
}


@media (min-width: 768px) {
	.paynow-leaselink__calculator__summary {
		padding: 20px;
		background-color: #ffffff;
	}

	.paynow-leaselink__calculator__summary__arrow-wrapper {
		min-width: 48px;
	}

	.paynow-leaselink__calculator__summary__button {
		font-size: 22px;
		line-height: 33px;
	}

	.paynow-leaselink__calculator__summary__label {
		margin: 0;
		font-size: 16px;
		line-height: 20px;
	}

	.paynow-leaselink__calculator__summary__price {
		font-size: 35px;
		line-height: 44px;
	}

	.paynow-leaselink__calculator .paynow-leaselink__calculator__summary__price .woocommerce-Price-amount.amount {
		font-size: 35px;
		line-height: 44px;
	}
}

.paynow-leaselink__calculator__help-background {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 200;
}

@media (min-width: 768px) {
	.paynow-leaselink__calculator__help-background {
		width: 630px;
		left: unset;
		right: 0;
	}
}

.paynow-leaselink__calculator__help-background.paynow-leaselink__calculator__help__hidden {
	display: none;
}

.paynow-leaselink__calculator__help {
	position: absolute;
	left: 0;
	width: 100vw;
	bottom: 200px;
	z-index: 1;
	background-color: white;
}

@media (min-width: 768px) {
	.paynow-leaselink__calculator__help {
		left: 50%;
		width: 478px;
		bottom: 50%;
		transform: translate(-50%, 50%);
		overflow: hidden;
		border-radius: 15px;
	}

	.--only-leasing.paynow-leaselink__calculator__help,
	.--only-loan.paynow-leaselink__calculator__help {
		width: 300px;
	}
}

.paynow-leaselink__calculator__help__exit-wrapper {
	position: absolute;
	top: 12px;
	right: 10px;
	max-width: 30px;
	cursor: pointer;
}

@media (min-width: 768px) {
	.paynow-leaselink__calculator__help__exit-wrapper {
		top: 18px;
		right: 18px;
		max-width: 18px;
	}
}

.paynow-leaselink__calculator__help-header, .paynow-leaselink__calculator__help-row {
	display: flex;
	align-items: center;
}

.--only-leasing .paynow-leaselink__calculator__help-header,
.--only-loan .paynow-leaselink__calculator__help-header {
	background-color: #EFEFEF;
}

.paynow-leaselink__calculator__help-leasing, .paynow-leaselink__calculator__help-loan {
	width: calc(50% - 1px);
}

.--only-leasing .paynow-leaselink__calculator__help-leasing,
.--only-loan .paynow-leaselink__calculator__help-loan {
	width: 100%;
}

.paynow-leaselink__calculator__help-header .paynow-leaselink__calculator__help-leasing, .paynow-leaselink__calculator__help-header .paynow-leaselink__calculator__help-loan {
	text-align: center;
	margin: 0;
	padding: 15px 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #822A85;
}

.paynow-leaselink__calculator__help-row .paynow-leaselink__calculator__help-leasing, .paynow-leaselink__calculator__help-row .paynow-leaselink__calculator__help-loan {
	margin: 10px 5px 10px 10px;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.--only-leasing .paynow-leaselink__calculator__help-row .paynow-leaselink__calculator__help-leasing,
.--only-loan .paynow-leaselink__calculator__help-row .paynow-leaselink__calculator__help-loan {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
}

.--only-leasing .paynow-leaselink__calculator__help-row,
.--only-loan .paynow-leaselink__calculator__help-row {
	margin: 15px 20px;
}

.paynow-leaselink__calculator__help-row.--row-gray {
	background-color: #EFEFEF;
}

.--only-leasing .paynow-leaselink__calculator__help-row.--row-gray,
.--only-loan .paynow-leaselink__calculator__help-row.--row-gray {
	background-color: white;
}

.paynow-leaselink__calculator__help-hr {
	margin: 0;
	align-self: stretch;
}

.--only-loan .paynow-leaselink__calculator__help-hr,
.--only-loan .paynow-leaselink__calculator__help-leasing,
.--only-leasing .paynow-leaselink__calculator__help-hr,
.--only-leasing .paynow-leaselink__calculator__help-loan {
	display: none;
}

.paynow-leaselink__calculator__help__tick {
	display: none;
}

.--only-loan .paynow-leaselink__calculator__help__tick,
.--only-leasing .paynow-leaselink__calculator__help__tick {
	display: inline-block;
	margin-right: 16px;
}
