.paynow-data-processing-info {
	margin-top: 1em;
	font-size: .8em;
}

.paynow-data-processing-info .expand {
	cursor: pointer;
	text-decoration: underline;
}

.paynow-data-processing-info ul {
	padding: 0 !important;
	margin: 0 0 0 15px !important;
	list-style-type: lower-alpha !important;
}

.paynow-data-processing-info .paynow-data-processing-info-more.collapse {
	display: none;
}

#payment .payment_methods .paynow-data-processing-info li {
	list-style: lower-alpha !important;
	line-height: 1.5em !important;
}

#payment ul.payment_methods .paynow-data-processing-info li::before,
#payment ul.payment_methods .paynow-data-processing-info li::after {
	display: none !important;
}

.payment_method_pay_by_paynow_pl_pbl > label > img,
.payment_method_pay_by_paynow_pl_card > label > img,
.payment_method_pay_by_paynow_pl_blik > label > img,
.payment_method_pay_by_paynow_pl_google_pay > label > img,
.payment_method_pay_by_paynow_pl_paywall > label > img {
	max-height: 2rem;
	max-width: 3rem;
	vertical-align: middle;
}

.payment_method_pay_by_paynow_pl_blik input[type=text] {
	letter-spacing: 5px;
	font-weight: bold;
	max-width: 100%;
	min-width: 110px;
}

.payment_method_pay_by_paynow_pl_blik .paynow-blik-white-label label {
	margin-top: 5px;
}

.paynow-confirm-blik img {
	margin: 0 auto;
}

.paynow-payment-option-pbls {
	flex-wrap: wrap;
	display: flex;
	margin: 0 -1%;
}

.paynow-payment-option-pbl {
	margin: 1%;
	width: 23%;
	display: flex;
	flex-direction: column;
}

.paynow-payment-option-pbl label {
	padding: 5px;
	border: 1px solid #e6e6e6;
	max-width: 100%;
	height: calc(100vh / 20);
	min-height: 3rem;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	display: flex !important;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	transition: all 250ms;
	margin: 0 !important;
}

.paynow-payment-option-pbl label img {
	max-width: 90%;
	max-height: calc(100vh / 30) !important;
	vertical-align: middle;
	margin: 0 !important;
}

.paynow-payment-option-pbl:not(.disabled) label:hover {
	border: 1px solid #d2d2d2;
	background: #f3f3f3;
}

.paynow-payment-option-pbl input[type=radio] {
	display: none !important;
}

.paynow-payment-option-pbl.disabled label img {
	opacity: 0.3;
	filter: grayscale(1);
}

.paynow-payment-option-pbl.disabled label {
	cursor: not-allowed;
}

.paynow-payment-option-pbl input[type=radio]:checked + label {
	border: 1px solid #d2d2d2;
	background: #f3f3f3;
}

.payment_method_pay_by_paynow_pl_pbl > p {
	margin-top: .5rem !important;
}

.payment_method_pay_by_paynow_pl_pbl label > img {
	margin-top: 0.25rem;
}

@media (max-width: 576px) {
	.paynow-payment-option-pbl {
		width: 31%;
	}
}
